.green-heading {
	color: green;
}
.blue-heading {
	color: #255;
	font-size: 30pt;
	font-weight: bold;
	background-color: yellow;
	text-decoration: underline;
}

.pink-heading {
	color: pink;
}

footer {
	margin-top: 40px;
}
